[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.inputdemoErrors .inputErrorsApp {
  min-height: 48px; }
.inputdemoErrors md-input-container > p {
  font-size: 0.8em;
  text-align: left;
  width: 100%; }
h1{
	text-align: center;
}
.stretch input  {
  width: 100%;
}
.header-bar{
  background: #fff!important;  
}
/* main page start*/
.btn__align-icon svg{
  vertical-align: middle;
}
.white-bar{
  background: #fff!important;
  padding: 30px 0 0 0;
}
.view-container{
  width: 100%;
}

/* main page end */
/* alert message start*/
.alert{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;  
}
.alert-danger{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-success{
 color: #3c763d;
 background-color: #dff0d8;
 border-color: #d6e9c6; 
}

/* alert message end */
@media (min-width: 640px){
	.loginBox {
  		max-width:  90%;
  		width: 500px;
	}	
}
