[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
h1{
	text-align: center;
}
.loginBox {
  max-width:  90%;
  width: 500px;
}

.stretch input  {
  width: 100%;
}