<div layout="column" layout-align="center center">
	<div class="alert alert-danger" role="alert" ng-show='errorMessage'>{{errorMessage}}</div>
 <form name="loginForm" class="loginBox md-whiteframe-z1" layout = "column">
		<md-toolbar>
			<h2 class="md-toolbar-tools"><span>Login</span></h2>
		</md-toolbar>

		<md-content layout="column" class="md-padding">
	        <md-input-container>
	          <input ng-model="loginUser.email" name="email" type="text" placeholder="Email" minlength="10" maxlength="25" ng-pattern="/^.+@.+\..+$/" required>
	          <div ng-messages="loginForm.email.$error">
	            <div ng-message="required">Your email is required.</div>
	            <div ng-message-exp="['minlength', 'maxlength', 'pattern']">Your email must be between 10 and 25 characters long and look like an e-mail address.</div>
	          </div>
	        </md-input-container>
	        <md-input-container>
	          <input ng-model="loginUser.password" type="password" placeholder="Password" minlength="4" maxlength="100" required name="password">
	          <div ng-messages="loginForm.password.$error">
	            <div ng-message="required">Your password is required.</div>
	            <div ng-message-exp="['minlength', 'maxlength']">
	            	Your password must be between 4 and 50 characters long.
	            </div>
	          </div>
	        </md-input-container>
		</md-content>
      	<div layout="row" layout-align="center center">
        	<md-button class="md-raised md-primary" ng-disabled="loginForm.$invalid" ng-click = "login()">Login</md-button>
        	<div flex="flex"></div>
        	<md-button href="#" md-no-ink="md-no-ink">Forgot Password</md-button>
      	</div>
      	<md-button ui-sref="register">Register here</md-button>
 </form>
</div>
