<div layout="column" layout-align="center center">
	<form name="registerForm" class="loginBox md-whiteframe-z1" ng-submit = "register()" layout = "column">
		<md-toolbar>
			<h2 class="md-toolbar-tools"><span>Register</span></h2>
		</md-toolbar>
		<div class="alert alert-danger" role="alert" ng-show='errorMessage'>{{errorMessage}}</div>
		<md-content layout="column" class="md-padding">
			<md-input-container>
				<label>Name</label>
				<input type="text" name="displayName" ng-model="newUser.displayName" minlength="4" maxlength="20" required>
				<div ng-messages="registerForm.displayName.$error">
					<div ng-message="required">This is required.</div>
					<div ng-message-exp="['minlength', 'maxlength']">Your name must be between 4 and 20 characters long.</div>
				</div>
			</md-input-container>
			<md-input-container>
				<label>Email address</label>
				<input type="text" minlength="10" maxlength="30" ng-pattern="/^.+@.+\..+$/" required name="email" ng-model="newUser.email">
				<div ng-messages="registerForm.email.$error">
					<div ng-message="required">Your email is required.</div>
	            	<div ng-message-exp="['minlength', 'maxlength', 'pattern']">Your email must be between 10 and 30 characters long and look like an e-mail address.</div>
				</div>
			</md-input-container>
			<md-input-container>
				<label>Password</label>
				<input type="password" required name="password" ng-model="newUser.password" minlength="4" maxlength="30">
				<div ng-messages="registerForm.password.$error">
					<div ng-message="required">This is required.</div>
					<div ng-message-exp="['minlength', 'maxlength']">Your name must be between 4 and 30 characters long.</div>
				</div>
			</md-input-container>
			<md-input-container>
				<label>Confirm Password</label>
				<input type="password" required name="passwordConfirm" ng-model="newUser.passwordConfirm" compare-to="newUser.password" required>
				<div ng-messages="registerForm.passwordConfirm.$error">
					<div ng-message="required">This is required.</div>
					<div ng-message="compareTo">Must match the previous entry</div>
				</div>
			</md-input-container>
		</md-content>
		<div layout="column" layout-align="center center">
			<md-button class="md-raised md-primary" type="submit" ng-disabled="registerForm.$invalid" >Create Account</md-button>
			<p class="md-body-1" layout="row" layout-align="center center">Already have an account? <md-button class="md-primary" ui-sref='login'>Login</md-button></p>
		</div>
	</form>		
</div>