<md-content class="md-padding">
  <md-button class="md-fab md-primary btn__align-icon" aria-label="add server" ng-click="addServer($event)">
      <ng-md-icon icon="add" style="fill:white" size="30" aria-label="add server"></ng-md-icon>
  </md-button>
  <md-card>
  	<md-toolbar>
  		<div class="md-toolbar-tools">
  			<h3>Servers</h3>
  		</div>
  	</md-toolbar>
  	<md-table-container class="md-whiteframe-2dp">
  	  <table md-table ng-model="selected" md-progress="promiseServers">
  	    <thead md-head md-order="domain" md-on-reorder="logOrder">
  	      <tr md-row>
  	      	<th md-column md-numeric><span>№</span></th>
  	        <th md-column md-order-by="name"><span>Name</span></th>
  	        <th md-column md-order-by="ip"><span>IP</span></th>
  	        <th md-column md-order-by="root_pass"><span>Root password</span></th>
            <th md-column md-order-by="user_pass"><span>User password</span></th>
            <th md-column md-order-by="path_config"><span>Path config</span></th>
  	        <th md-column><span>Action</span></th>
  	      </tr>
  	    </thead>
  	    <tbody md-body>
  	      <tr md-row ng-repeat="server in arrServers track by $index">
  	        <td md-cell>{{$index + 1}}</td>
  	        <td md-cell>{{server.name}}</td>
  	        <td md-cell>{{server.ip}}</td>
  	        <td md-cell>{{server.root_pass}}</td>
            <td md-cell>{{server.user_pass}}</td>
            <td md-cell>{{server.path_config}}</td>
  	        <td md-cell>
  	        	<md-button class="md-raised md-primary" ng-click='editServer($event, server)'>Изменить</md-button>
  	        	<md-button class="md-raised btn__align-icon" ng-click='deleteServer($event, server)'>
  					<ng-md-icon icon="delete" size="38" aria-label="Delete server"></ng-md-icon>
  	        	</md-button>
  	        </td>
  	      </tr>
  	    </tbody>
  	  </table>
  	</md-table-container>
  </md-card>
</md-content>