<md-dialog  ng-cloak>
  <form name="server_edit_popup" ng-submit="update_server()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Server edit</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <ng-md-icon icon="close" aria-label="Close dialog"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block">
             <label>Name</label>
             <input ng-model="server.name" name="name" required minlength="6" maxlength="25" disabled>
             <div ng-messages="server_edit_popup.name.$error">
               <div ng-message-exp="['required', 'minlength', 'maxlength']">This is required! Minlength '6' and maxlength '25'</div>
             </div>
        </md-input-container>
        <md-input-container class="md-block">
             <label>Password</label>
             <input ng-model="server.pass" name="pass" required minlength="6" maxlength="35">
             <div ng-messages="server_edit_popup.pass.$error">
               <div ng-message-exp="['required', 'minlength', 'maxlength']">
                 This is required!  Minlength '6' and maxlength '25'.
               </div>
             </div>             
        </md-input-container>
        <md-chips
          ng-model="server.ip"
          md-separator-keys="keys"
          placeholder="Enter a ips"
          secondary-placeholder="Comma separated ips">
        </md-chips>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-raised md-primary" type="submit" ng-disabled="server_edit_popup.$invalid">Update Information</md-button>
      <span flex></span>
      <md-button class="md-raised md-warn" ng-click="cancel()">Отмена</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>