<md-dialog  ng-cloak>
  <form name="site_edit_popup" ng-submit="update_site()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Site edit</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <ng-md-icon icon="close" aria-label="Close dialog"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block">
             <label>Domain</label>
             <input ng-model="site.domain" name="domain" required disabled>
        </md-input-container>
        <!--md-input-container class="md-block" ng-cloak>
            <md-select ng-model="currentServer" md-on-open="getServs()" name = "server" ng-change="choseIp($value)" ng-model-options="{trackBy: '$value.name'}" required placeholder = "{{currentServer.name}}">
              <md-option ng-value="server" ng-repeat="server in servers">{{server.name}}</md-option>
            </md-select>
            <div ng-messages="site_edit_popup.server.$error">
              <div ng-message-exp="['required']">This is required!</div>
            </div>
        </md-input-container-->
        <!--md-input-container class="md-block" ng-cloak>
            <md-select ng-model="currentIp" placeholder="{{currentIp}}" ng-disabled="!currentServer.name" md-on-open="getIp(currentServer.name)" ng-model-options="{trackBy: '$value'}" name = "site" required >
              <md-option ng-value="site_ip" ng-repeat="site_ip in site_ips">{{site_ip}}</md-option>
            </md-select> 
            <div ng-messages="site_add_popup.site.$error">
              <div ng-message-exp="['required']">This is required!</div>
            </div>
        </md-input-container-->
        <md-input-container class="md-block">
          <label>Description</label>
          <textarea ng-model="site.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-raised md-primary" type="submit" ng-disabled="site_edit_popup.$pristine || site_edit_popup.$invalid">Update Information</md-button>
      <span flex></span>
      <md-button class="md-raised md-warn" ng-click="cancel()">Cancel</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>