<md-dialog  ng-cloak>
  <form name="site_add_popup" ng-submit="addSite()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>New Site</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <ng-md-icon icon="close" aria-label="Close dialog"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block">
             <label>Domain</label>
             <input ng-model="newSite.domain" name="domain" required>
             <div ng-messages="site_add_popup.domain.$error">
               <div ng-message="required">This is required</div>
             </div>
        </md-input-container>
        <md-input-container class="md-block">
             <label>Date</label>
             <input ng-model="newSite.date" name="date">
        </md-input-container>
        <md-input-container class="md-block">
             <label>Ip</label>
             <input ng-model="newSite.ip" name="ip" required>
             <div ng-messages="site_add_popup.ip.$error">
               <div ng-message="required">
                 This is required
               </div>
             </div>
        </md-input-container>
        <md-input-container class="md-block">
             <label>Server</label>
             <input ng-model="newSite.server" name="server" required>
             <div ng-messages="site_add_popup.server.$error">
               <div ng-message="required">
                 This is required
               </div>
             </div>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-raised md-primary" type="submit" ng-disabled="site_add_popup.$invalid">Add new site</md-button>
      <span flex></span>
      <md-button class="md-raised md-warn" ng-click="cancel()">Отмена</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>