<md-content>
	<h2>Users list</h2>
	<md-card>
		<md-table-container class="md-whiteframe-2dp">
		  <table md-table ng-model="selected" md-progress="promise">
		    <thead md-head md-order="displayName" md-on-reorder="logOrder">
		      <tr md-row>
		      	<th md-column md-numeric><span>№</span></th>
		        <th md-column md-order-by="displayName"><span>Name</span></th>
		        <th md-column md-order-by="email"><span>Email</span></th>
		        <th md-column md-order-by="role"><span>Role</span></th>
		        <th md-column md-order-by="date_born"><span>Date</span></th>
		        <th md-column><span>Action</span></th>
		      </tr>
		    </thead>
		    <tbody md-body>
		      <tr md-row ng-repeat="user in users track by $index">
		        <td md-cell>{{$index + 1}}</td>
		        <td md-cell>{{user.displayName}}</td>
		        <td md-cell>{{user.email}}</td>
		        <td md-cell>{{user.role}}</td>
		        <td md-cell>{{user.date_born | date:"MM/dd/yyyy 'at' h:mma"}}</td>
		        <td md-cell>
		        	<md-button class="md-raised md-primary" ng-click='editUser($event, user)'>Edit</md-button>
		        	<md-button class="md-raised btn__align-icon" ng-click='deleteUser($event, user)'>
						<ng-md-icon icon="delete" size="38" aria-label="Delete user"></ng-md-icon>
		        	</md-button>
		        </td>
		      </tr>
		    </tbody>
		  </table>
		</md-table-container>
	</md-card>
</md-content>